global 
    maxconn 100 
        defaults 
            log     global 
            mode    tcp 
            retries 2 
            timeout client 30m 
            timeout connect 4s 
            timeout server 30m 
            timeout check 5s 

        listen stats
            mode http
            bind *:32700
            stats enable
            stats uri /
 
        frontend ft_postgresql 
            bind *:5432 
            mode tcp
            default_backend bk_db 
 
        backend bk_db 
            option httpchk
            mode tcp
            {% for host in groups['patroni'] -%}
            server {{ hostvars[host]['ansible_facts']['hostname'] }} {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:5432 maxconn 100 check port 8008
            {% if not loop.last -%}
            {% endif -%}
            {% endfor -%}
            