# Human-readable name for this member.
name: {{ inventory_hostname }}

# Path to the data directory.
data-dir: /task13/etcd/data-dir

# Path to the dedicated wal directory.
wal-dir: /task13/etcd/wal-dir

# List of this member's peer URLs to advertise to the rest of the cluster.
initial-advertise-peer-urls: http://{{ ansible_default_ipv4.address }}:2380

# List of comma separated URLs to listen on for peer traffic.
listen-peer-urls: http://{{ ansible_default_ipv4.address }}:2380,http://127.0.0.1:2380

# List of this member's client URLs to advertise to the public.
advertise-client-urls: http://{{ ansible_default_ipv4.address }}:2379

# List of comma separated URLs to listen on for client traffic.
listen-client-urls: http://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379

# Initial cluster state ('new' or 'existing').
initial-cluster-state: new

# Initial cluster configuration for bootstrapping.
initial-cluster: {% for host in groups['etcd'] %}{{ hostvars[host]['ansible_facts']['hostname'] }}=http://{{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}

# Initial cluster token for the etcd cluster during bootstrap.
initial-cluster-token: 'etcd-cluster-rebrain-token'

# Allow requests API v2
enable-v2: true